@import url('https://fonts.googleapis.com/css?family=Montserrat');

$colors: (
   background:#afffeb,
   previewBackground: whitesmoke, 
   codeBackground: white,
   shadowColor:#464141
  );
  
@function colors($color-name) {
    @return map-get($colors, $color-name)
  }

.shadow {
     border: 2px solid;
     -webkit-box-shadow: 10px 33px 48px 2px colors(shadowColor);
     -moz-box-shadow: 10px 33px 48px 2px colors(shadowColor);
     box-shadow: 10px 33px 48px 2px colors(shadowColor);
     padding: 10px;
     overflow: auto;
}

body {
    background-color: colors(background);
    font-family: 'Montserrat', sans-serif;
}

#root {
    height: 100vh;
    text-align: center;
}

.content {
  display: flex;
  margin-top: 25px;
}

textarea {
    @extend .shadow;
    text-align: left;
    margin-bottom:  50px;
}

#preview {
    @extend .shadow;
    height: 74%;
    background-color: colors(previewBackground);
    text-align: left;
    pre, code {
        background-color: colors(codeBackground);
        padding: 5px;
    }
}

.footer {
    font-size: 0.9em;
    display: block;
    text-align: center;
    margin-top: 10px;
    
    a {
      color: orangered;
      &:hover {
        text-decoration: none;
        color:  orangered;
        font-size: 15px;
      }
    }
  }

  @media screen and (max-width: 650px) {
    #root {
      max-width: 100%;
      transform: scale(0.9)
    }
    html {
      width: 100vh;
    }
   }

 